In [1]:
import numpy as np 
import pandas as pd
pd.set_option("display.max_columns",100) # muestra todas las columnas cuando vemos el data frame

In [2]:
df = pd.read_csv("nhanes_2015_2016.csv")

In [3]:
df.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,1.0,2,134671.37,1,125,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,3.0,1,24328.56,1,125,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,1.0,2,12400.01,1,131,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,6.0,1,102718.00,1,131,5.00,132.0,72.0,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,3.0,5,17627.67,2,126,1.23,100.0,70.0,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [4]:
# obtener el nombre de las columnas

col_names = df.columns
col_names

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [5]:
# Una forma de obtener los nombres de las columnas que queremos conservar es simplemente copiando de la salida anterior y almacenando en una lista

conservar = ['BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST']

In [6]:
# Se puede hacer con comprensión de listas, generando un parametro

[columna for columna in col_names if "BMX" in columna]

# Se esta indicando, haca una columna, ciclo for columnas en lista columna name si 
# lista columnas name, tiene elemento "BMX"

['BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST']

In [7]:
# Para mantener las columnas podemos usar []

df_BX = df[conservar] # aqui básicamente se esta conservando todos los datos BMX

In [8]:
df_BX.head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

Existen dos metodos para seleccionar por fila y por columnas

+ df.loc[filas etiquetas o boleano, columnas etiquetas o boleanos] -> cabe decir que esta espera dos parametros al menos
+ df.iloc[filas enteros o boleanos, columnas enteros o boleanos] -> igualmente espera dos parametros

+ .loc principalmente se basa en la etiqueta, pero también puede utilizarse un array boleano


---------------

+ .iloc se basa principalmente en la posición del index como entero, pero igualmente, puede utilizarse como array boleana

In [9]:
# .loc ->

df.loc[:,conservar].head() # se baso en las etiquetas

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [10]:
boleano = np.isin(df.columns,conservar)
boleano

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False])

In [11]:
df.iloc[:,boleano].head() # index es la lista boleana anterior

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

# Seleccionando por condiciones

In [12]:
# Solo vamos a observar las filas de la variable BMXWAIST 
# sean mayor a la mediana.

v_mediana = pd.Series.median(df_BX["BMXWAIST"])
v_mediana # obtenemos la mediana

98.3

In [13]:
df_BX[df_BX["BMXWAIST"] > v_mediana].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
9  108.3  179.4    33.6    46.0     44.1     38.5     116.0

In [14]:
condicion1 = df_BX["BMXWAIST"]>v_mediana
# podemos hacer más condiciones o agregar más
condicion2 = df_BX["BMXLEG"] < 32

df_BX[condicion1 & condicion2].head()
# directamente pasamos las condiciones al data frame
# y este nos da la información

    BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
15   80.5  150.8    35.4    31.6     32.7     33.7     113.5
27   75.6  145.2    35.9    31.0     33.1     36.0     108.0
39   63.7  147.9    29.1    26.0     34.0     31.5     110.0
52  105.9  157.7    42.6    29.2     35.0     40.7     129.1
55   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [15]:
df_BX.loc[condicion1 & condicion2,:].head()
# En este segundo caso, estamos pasando al data frame el 
# metodo .loc, indicando las filas a conservar

    BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
15   80.5  150.8    35.4    31.6     32.7     33.7     113.5
27   75.6  145.2    35.9    31.0     33.1     36.0     108.0
39   63.7  147.9    29.1    26.0     34.0     31.5     110.0
52  105.9  157.7    42.6    29.2     35.0     40.7     129.1
55   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [16]:
# Marco de datos para ver diferencias entre metodo loc y .loc

variable_tmp = df_BX.loc[condicion1 & condicion2,:].head()
variable_tmp.index = ["a","b","c","d","e"]
# si se llegaran a utilizar más datos esto podría dar un error
# esto podría deberse a que el index sea mucho mayor en otros años
variable_tmp

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8    35.4    31.6     32.7     33.7     113.5
b   75.6  145.2    35.9    31.0     33.1     36.0     108.0
c   63.7  147.9    29.1    26.0     34.0     31.5     110.0
d  105.9  157.7    42.6    29.2     35.0     40.7     129.1
e   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [17]:
# llamando con los index
variable_tmp.loc[["a","b"],"BMXLEG"]

a    31.6
b    31.0
Name: BMXLEG, dtype: float64

## Como leer errores comunes

In [18]:
variable_tmp.loc[:,"BMXBMI"]

a    35.4
b    35.9
c    29.1
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [19]:
variable_tmp.loc[:,"BMXBMI"].values

array([35.4, 35.9, 29.1, 42.6, 35.2])

In [20]:
variable_tmp.iloc[:,"BMXBMI"]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

Este error se presenta porque no es un entero o un booleano, por ese motivo es un valor inexacto.

In [21]:
variable_tmp.iloc[:,2]

a    35.4
b    35.9
c    29.1
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [22]:
variable_tmp.loc[:, 2]
# 2 no es un nombre de una columna, en este caso hay un KeyError

KeyError: 2

In [23]:
# Esta es una forma de usar booleanos como lista
# de indexación.
variable_tmp.loc[:,[False, False, True] + [False]*4]

   BMXBMI
a    35.4
b    35.9
c    29.1
d    42.6
e    35.2

In [24]:
variable_tmp.iloc[:, 2]

a    35.4
b    35.9
c    29.1
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [25]:
# Podemos cambiar los metodos .loc y .iloc para
# cambiar los valores dentro del marco de datos

variable_tmp.iloc[0:3,2] = [0]*3
variable_tmp.iloc[:,2]

a     0.0
b     0.0
c     0.0
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [26]:
variable_tmp.loc["a":"c","BMXBMI"] = [1]*3
variable_tmp.loc[:,"BMXBMI"]

a     1.0
b     1.0
c     1.0
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [27]:
# Podemos utilizar el método [] cuando cambiamos todos los valores de una columna
variable_tmp["BMXBMI"] = range(0,5)
variable_tmp

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8       0    31.6     32.7     33.7     113.5
b   75.6  145.2       1    31.0     33.1     36.0     108.0
c   63.7  147.9       2    26.0     34.0     31.5     110.0
d  105.9  157.7       3    29.2     35.0     40.7     129.1
e   77.5  148.3       4    30.5     34.0     34.4     107.6

In [28]:
# Se dará una advertencia al utilizar [] con 
# condiciones para establecer nuevos valores
# en nuestro conjunto de dataframe

variable_tmp[variable_tmp.BMXBMI > 2]["BMXBMI"] = [10]*2 #  Establecer nuevos valores en una copia de tmp, pero no en la propia tmp
variable_tmp
# El código de la variable anterior no cambio nuestro dataframe tmp
# Esta no es la forma correcta en como se hacen las cosas

/tmp/ipykernel_7267/3319695155.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  variable_tmp[variable_tmp.BMXBMI > 2]["BMXBMI"] = [10]*2 #  Establecer nuevos valores en una copia de tmp, pero no en la propia tmp

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8       0    31.6     32.7     33.7     113.5
b   75.6  145.2       1    31.0     33.1     36.0     108.0
c   63.7  147.9       2    26.0     34.0     31.5     110.0
d  105.9  157.7       3    29.2     35.0     40.7     129.1
e   77.5  148.3       4    30.5     34.0     34.4     107.6

In [29]:
# La forma en la que se debe hacer las cosas es la siguiente

variable_tmp.loc[variable_tmp.BMXBMI > 2, "BMXBMI"] = [10]*2
variable_tmp

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8       0    31.6     32.7     33.7     113.5
b   75.6  145.2       1    31.0     33.1     36.0     108.0
c   63.7  147.9       2    26.0     34.0     31.5     110.0
d  105.9  157.7      10    29.2     35.0     40.7     129.1
e   77.5  148.3      10    30.5     34.0     34.4     107.6