In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Importar datos

df1 = pd.read_csv("Turismo Recaudo Contribución Parafiscal.csv") 

# ver datos

df1.head()

,CLASE APORTANTE,ANO-2014,ANO-2015,ANO-2016,ANO-2017,ANO-2018,ANO-2019,ANO-2020,ANO-2021
0,Hoteles y Centros Vacacionales,$ 8.258.014.655,$ 9.370.587.368,$ 10.865.531.432,$ 11.700.296.314,$ 13.717.612.224,$ 15.053.610.576,$ 8.780.051.895,$ 10.179.038.000
1,Viviendas Turísticas u otro tipo de hospedaje ...,$ 253.062.203,$ 306.329.082,$ 368.429.386,$ 426.940.968,$ 662.194.250,$ 796.846.000,$ 559.716.000,$ 864.590.000
2,Agencias de Viajes,$ 2.370.773.024,$ 2.605.481.965,$ 2.976.564.291,$ 3.211.374.588,$ 3.881.301.106,$ 4.248.724.357,$ 2.362.685.045,$ 2.228.914.000
3,Oficina de Representación Turística,$ 195.130.444,$ 199.788.688,$ 196.877.323,$ 181.569.000,$ 208.531.000,$ 237.586.898,$ 132.111.083,$ 248.309.000
4,Deportes naúticos,$ 7.606.910,$ 8.940.064,$ 7.729.342,$ 12.520.000,$ 19.088.000,$ 20.660.000,$ 9.385.000,$ 10.985.000

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CLASE APORTANTE  28 non-null     object
 1   ANO-2014         28 non-null     object
 2   ANO-2015         28 non-null     object
 3   ANO-2016         28 non-null     object
 4   ANO-2017         28 non-null     object
 5   ANO-2018         28 non-null     object
 6   ANO-2019         28 non-null     object
 7   ANO-2020         28 non-null     object
 8   ANO-2021         28 non-null     object
dtypes: object(9)
memory usage: 2.1+ KB

In [4]:
# remplazar signo $

df1["ANO-2014"] = df1["ANO-2014"].str.replace("$","",regex=True)

In [5]:
df1["ANO-2014"]

0        8.258.014.655
1          253.062.203
2        2.370.773.024
3          195.130.444
4            7.606.910
5          567.514.503
6           62.924.327
7            1.184.218
8          130.782.894
9        2.576.006.431
10           1.690.000
11          17.469.784
12         210.542.208
13         390.281.711
14      19.677.188.617
15         990.519.699
16         200.456.735
17          29.661.773
18          42.972.140
19          89.398.633
20          36.623.368
21       1.211.173.896
22              40.087
23                 -
24              51.975
25                 -
26                 -
27          13.488.011
Name: ANO-2014, dtype: object

In [6]:
df1 = df1.replace("\$","", regex=True)

In [7]:
df1 = df1.replace("\.","", regex=True)

In [8]:
df1.head()

,CLASE APORTANTE,ANO-2014,ANO-2015,ANO-2016,ANO-2017,ANO-2018,ANO-2019,ANO-2020,ANO-2021
0,Hoteles y Centros Vacacionales,8258014655,9370587368,10865531432,11700296314,13717612224,15053610576,8780051895,10179038000
1,Viviendas Turísticas u otro tipo de hospedaje ...,253062203,306329082,368429386,426940968,662194250,796846000,559716000,864590000
2,Agencias de Viajes,2370773024,2605481965,2976564291,3211374588,3881301106,4248724357,2362685045,2228914000
3,Oficina de Representación Turística,195130444,199788688,196877323,181569000,208531000,237586898,132111083,248309000
4,Deportes naúticos,7606910,8940064,7729342,12520000,19088000,20660000,9385000,10985000

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CLASE APORTANTE  28 non-null     object
 1   ANO-2014         28 non-null     object
 2   ANO-2015         28 non-null     object
 3   ANO-2016         28 non-null     object
 4   ANO-2017         28 non-null     object
 5   ANO-2018         28 non-null     object
 6   ANO-2019         28 non-null     object
 7   ANO-2020         28 non-null     object
 8   ANO-2021         28 non-null     object
dtypes: object(9)
memory usage: 2.1+ KB

In [10]:
df1.replace("  -   ","NaN")
df1.head(40)

,CLASE APORTANTE,ANO-2014,ANO-2015,ANO-2016,ANO-2017,ANO-2018,ANO-2019,ANO-2020,ANO-2021
0,Hoteles y Centros Vacacionales,8258014655,9370587368,10865531432,11700296314,13717612224,15053610576,8780051895,10179038000
1,Viviendas Turísticas u otro tipo de hospedaje ...,253062203,306329082,368429386,426940968,662194250,796846000,559716000,864590000
2,Agencias de Viajes,2370773024,2605481965,2976564291,3211374588,3881301106,4248724357,2362685045,2228914000
3,Oficina de Representación Turística,195130444,199788688,196877323,181569000,208531000,237586898,132111083,248309000
4,Deportes naúticos,7606910,8940064,7729342,12520000,19088000,20660000,9385000,10985000
5,"Operadores Congresos, ferias y convenciones",567514503,978536507,882106201,975203495,1224644498,1358184710,985381000,627798000
6,Arrendadores de Vehiculos,62924327,83839245,88428293,104518000,136306000,160095000,96073000,228442000
7,Usuarios zonas francas,1184218,910528,651158,21913000,236000,260000,1257000,80754000
8,Comercializadora Proyecto Tiempo Compartido y ...,130782894,135474118,147549349,161963000,142627324,127078666,175350000,213027000
9,Bares y restaurantes turísticos,2576006431,2747165725,3030474368,3415747024,4102655409,4168657438,2529481000,3421145552
10,Centros terapéuticos o balnearios,1690000,1725000,3089000,2621460,372120,2511000,1366000,1706000
11,Servicios turísticos prepagados,17469784,17618608,21866100,25544000,33021000,44521000,19716000,17877000
12,Parques temáticos,210542208,337556490,313493493,265409796,451865500,549150000,213552000,408128000
13,Concesionarios de Aeropuertos y Carreteras,390281711,448402022,4340778273,4861970000,5070749774,8849220093,2444425000,5159494000
14,Empresas de transporte de pasajeros aéreos,19677188617,28060601613,38686750429,40325719000,43033903000,52084638682,25298937778,24579175855
15,Empresas de transporte terrestre de pasajeros,990519699,1019522092,1052467067,1121847497,1332180628,1284508405,714906000,791105000
16,Transporte Terrestre Especial,200456735,250860035,197236777,290274000,359139295,558674670,425304000,417580000
17,Concesionarios parques,29661773,31537345,60552753,42807000,54600000,66198000,11498000,8446000
18,Centros de convenciones,42972140,40585610,41670791,99997000,58183000,65989000,28458000,25260000
19,Empresas de seguros de viaje y de asistencia m...,89398633,105846371,118002034,184159000,144617000,162288000,111589000,120479000
20,Sociedades portuarias,36623368,37373936,47173988,50086000,56935000,64100000,44714000,7203000
21,Establecimientos en terminales,1211173896,1299123408,1532702023,1625120000,1576704000,2287289000,1234215000,2022245998
22,Operadoras TCompartido y Multipropiedad,40087,-,-,-,-,-,-,6693000
23,Multinivel Servicios Turisticos,-,-,-,-,-,245000,1839000,6011000
24,Guias de Turismo,51975,552400,945700,705000,3342000,3508000,2208000,3365000
25,Operadores de plataformas electrónicas o digit...,-,-,-,-,-,-,-,-
26,Transporte Aéreo No Regular,-,-,-,-,-,-,-,164664000
27,Partidas no identificadas,13488011,75313755,257410958,812884812,147122286,110980645,33606476,115000

In [11]:
df1 = df1.replace("-","0",regex=True)
df1.head(40)

,CLASE APORTANTE,ANO-2014,ANO-2015,ANO-2016,ANO-2017,ANO-2018,ANO-2019,ANO-2020,ANO-2021
0,Hoteles y Centros Vacacionales,8258014655,9370587368,10865531432,11700296314,13717612224,15053610576,8780051895,10179038000
1,Viviendas Turísticas u otro tipo de hospedaje ...,253062203,306329082,368429386,426940968,662194250,796846000,559716000,864590000
2,Agencias de Viajes,2370773024,2605481965,2976564291,3211374588,3881301106,4248724357,2362685045,2228914000
3,Oficina de Representación Turística,195130444,199788688,196877323,181569000,208531000,237586898,132111083,248309000
4,Deportes naúticos,7606910,8940064,7729342,12520000,19088000,20660000,9385000,10985000
5,"Operadores Congresos, ferias y convenciones",567514503,978536507,882106201,975203495,1224644498,1358184710,985381000,627798000
6,Arrendadores de Vehiculos,62924327,83839245,88428293,104518000,136306000,160095000,96073000,228442000
7,Usuarios zonas francas,1184218,910528,651158,21913000,236000,260000,1257000,80754000
8,Comercializadora Proyecto Tiempo Compartido y ...,130782894,135474118,147549349,161963000,142627324,127078666,175350000,213027000
9,Bares y restaurantes turísticos,2576006431,2747165725,3030474368,3415747024,4102655409,4168657438,2529481000,3421145552
10,Centros terapéuticos o balnearios,1690000,1725000,3089000,2621460,372120,2511000,1366000,1706000
11,Servicios turísticos prepagados,17469784,17618608,21866100,25544000,33021000,44521000,19716000,17877000
12,Parques temáticos,210542208,337556490,313493493,265409796,451865500,549150000,213552000,408128000
13,Concesionarios de Aeropuertos y Carreteras,390281711,448402022,4340778273,4861970000,5070749774,8849220093,2444425000,5159494000
14,Empresas de transporte de pasajeros aéreos,19677188617,28060601613,38686750429,40325719000,43033903000,52084638682,25298937778,24579175855
15,Empresas de transporte terrestre de pasajeros,990519699,1019522092,1052467067,1121847497,1332180628,1284508405,714906000,791105000
16,Transporte Terrestre Especial,200456735,250860035,197236777,290274000,359139295,558674670,425304000,417580000
17,Concesionarios parques,29661773,31537345,60552753,42807000,54600000,66198000,11498000,8446000
18,Centros de convenciones,42972140,40585610,41670791,99997000,58183000,65989000,28458000,25260000
19,Empresas de seguros de viaje y de asistencia m...,89398633,105846371,118002034,184159000,144617000,162288000,111589000,120479000
20,Sociedades portuarias,36623368,37373936,47173988,50086000,56935000,64100000,44714000,7203000
21,Establecimientos en terminales,1211173896,1299123408,1532702023,1625120000,1576704000,2287289000,1234215000,2022245998
22,Operadoras TCompartido y Multipropiedad,40087,0,0,0,0,0,0,6693000
23,Multinivel Servicios Turisticos,0,0,0,0,0,245000,1839000,6011000
24,Guias de Turismo,51975,552400,945700,705000,3342000,3508000,2208000,3365000
25,Operadores de plataformas electrónicas o digit...,0,0,0,0,0,0,0,0
26,Transporte Aéreo No Regular,0,0,0,0,0,0,0,164664000
27,Partidas no identificadas,13488011,75313755,257410958,812884812,147122286,110980645,33606476,115000

In [17]:
df1["ANO-2014"]=df1["ANO-2014"].astype(int).dtype()

TypeError: 'numpy.dtype[int64]' object is not callable