In [1]:
import pandas as pd
import datetime

datos = pd.read_csv("SecuestrosColombia1970-2010.csv")
datos

,Día,Mes,Año,Departamento,Municipio,Lugar de Ocurrencia,Modalidad,Motivo Argumentado,Autor Presunto,Autor Confirmado,Exigencia,Tipo de Desenlace,Primera Fuente
0,7,2,1970,MAGDALENA,SANTA MARTA,Cabecera,Sobre una persona específica,Secuestro Económico,Delincuencia Común,.,Dinero,Liberado Tras Pago,Prensa
1,31,3,1970,META,VILLAVICENCIO,Cabecera,Sobre una persona específica,Secuestro Económico,Delincuencia Común,.,NaN,Liberado Tras Pago,Prensa
2,20,5,1970,CASANARE,YOPAL,NaN,NaN,NaN,.,.,NaN,NaN,Entrevistas
3,9,6,1970,CALDAS,MANIZALES,Resto,Sobre una persona específica,Secuestro Económico,Guerrilla-ELN,Guerrilla-ELN,Dinero,Liberado Tras Pago,Publicaciones
4,23,3,1971,QUINDIO,MONTENEGRO,Resto,Emboscada,Secuestro Económico,Otros,Otros,Dinero,Asesinado en Cautiverio,Sentencias
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39053,30,12,2010,ANTIOQUIA,MEDELLIN,NaN,NaN,NaN,.,.,NaN,NaN,Fiscalía
39054,30,12,2010,CORDOBA,MONTELIBANO,NaN,NaN,NaN,BACRIM,.,NaN,NaN,Fiscalía
39055,30,12,2010,CORDOBA,MONTELIBANO,NaN,NaN,NaN,BACRIM,.,NaN,NaN,Fiscalía
39056,30,12,2010,CORDOBA,MONTERIA,NaN,NaN,NaN,.,.,NaN,NaN,Fiscalía
39057,31,12,2010,TOLIMA,IBAGUE,NaN,NaN,NaN,.,.,NaN,NaN,Fiscalía

In [2]:
datos.dtypes

Día                     int64
Mes                     int64
Año                     int64
Departamento           object
Municipio              object
Lugar de Ocurrencia    object
Modalidad              object
Motivo Argumentado     object
Autor Presunto         object
Autor Confirmado       object
Exigencia              object
Tipo de Desenlace      object
Primera Fuente         object
dtype: object

In [3]:
datos.shape

(39058, 13)

In [4]:
datos.isnull().sum()

Día                        0
Mes                        0
Año                        0
Departamento            1781
Municipio               1819
Lugar de Ocurrencia     8772
Modalidad               6318
Motivo Argumentado     20094
Autor Presunto             0
Autor Confirmado          57
Exigencia              21804
Tipo de Desenlace      10449
Primera Fuente            43
dtype: int64

In [5]:
# Eliminar las columnas
datos = datos.drop(["Lugar de Ocurrencia", "Motivo Argumentado", "Exigencia", "Tipo de Desenlace"], axis=1)

# se eliminan estas listas por la gran cantidad de datos faltantes, por ejemplo, en motivo argumentado falta
# más del 50% de los datos.

In [6]:
datos.isnull().sum()

Día                    0
Mes                    0
Año                    0
Departamento        1781
Municipio           1819
Modalidad           6318
Autor Presunto         0
Autor Confirmado      57
Primera Fuente        43
dtype: int64

In [7]:
#verificando la repetición de datos

datos.Departamento.unique()

array(['MAGDALENA', 'META', 'CASANARE', 'CALDAS', 'QUINDIO', 'SANTANDER',
       'BOGOTA D. C.', nan, 'TOLIMA', 'VALLE DEL CAUCA', 'ANTIOQUIA',
       'BOYACA', 'CAUCA', 'BOLIVAR', 'NARINO', 'CESAR', 'CORDOBA',
       'CUNDINAMARCA', 'HUILA', 'RISARALDA', 'LA GUAJIRA',
       'N. DE SANTANDER', 'CAQUETA', 'ATLANTICO', 'PUTUMAYO', 'VAUPES',
       'ARAUCA', 'GUAVIARE', 'SUCRE', 'VICHADA', 'CHOCO', ' ', 'GUAINIA',
       'AMAZONAS', 'SAN ANDRES'], dtype=object)

In [8]:
datos["Fecha"] = datos["Día"].astype(str) + "/" + datos["Mes "].astype(str) + "/" + datos["Año"].astype(str)
datos["Fecha"].dtype

dtype('O')

In [9]:
# dandole formate datetime 

datos["Fecha"]= pd.to_datetime(datos["Fecha"], format="%d/%m/%Y")
datos.Fecha.dtype

dtype('<M8[ns]')

In [10]:
datos.isnull().sum()

Día                    0
Mes                    0
Año                    0
Departamento        1781
Municipio           1819
Modalidad           6318
Autor Presunto         0
Autor Confirmado      57
Primera Fuente        43
Fecha                  0
dtype: int64

In [15]:
b = datos.loc[datos.Municipio.isnull(), ["Departamento","Municipio"]]
b.Departamento.notnull()

12       False
15       False
20       False
147      False
150      False
         ...
38297    False
38302    False
38492     True
38714     True
38848     True
Name: Departamento, Length: 1819, dtype: bool