In [7]:
import os
import pandas as pd
import json
pd.set_option('display.max_columns', None)  # Configura para mostrar todas las columnas

In [8]:
datos_csv = pd.read_csv("empleadosTecnologiaAlpes.csv", sep=";", encoding="latin-1")
datos_csv.head()

,Edad,Retirado,ViajesDeNegocio,TarifaSalarial,Departamento,DistanciaDesdeCasa,Educacion,CampoEducacion,EmpleadosACargo,NumeroEmpleado,NivelSatisfaccion,Genero,SalarioPorHora,NivelInvolucramiento,NivelResponsabilidad,Rol,SatisfaccionTrabajo,EstadoCivil,SalarioMensual,TarifaMensual,NumEmpresasDondeTrabaja,MasDe18Horas,HorasExtra,PorcentajeIncrementoSalarioUltimoAnnio,NivelRendimiento,SatisfaccionEmpresa,HorasEstandar,PlanSalarioComplementario,TotalAnniosTrabajados,FormacionUltimoAnnio,BalanceTrabajoVida,FechaIngresoEmpresa,AnniosEnEmpresa,AnniosRolActual,AnniosDesdeUltimaPromocion,AnniosActualDirector
0,41,Si,Viaja-Pocas-Veces,1102,Ventas,1,2,Ciencias de la vida,1.0,1,2,Femenino,94,3,2,Ejecutivo de ventas,4,Soltero,5993,19479,8,S,Si,11,3,1,80,0,8,0,1,26/07/2015,6,4,0,5
1,49,No,Viaja-Frecuentemente,279,Investigacion & Desarrollo,8,1,Ciencias de la vida,1.0,2,3,Masculino,61,2,2,Cientifico de investigacion,2,Casado,5130,24907,1,S,No,23,4,4,80,1,10,3,3,15/02/2011,10,7,1,7
2,37,Si,Viaja-Pocas-Veces,1373,Investigacion & Desarrollo,2,2,Otro,1.0,4,4,Masculino,92,2,1,Tecnico de laboratorio,3,Soltero,2090,2396,6,S,Si,15,3,2,80,0,7,3,3,2/06/2021,0,0,0,0
3,33,No,Viaja-Frecuentemente,1392,Investigacion & Desarrollo,3,4,Ciencias de la vida,1.0,5,4,Femenino,56,3,1,Cientifico de investigacion,3,Casado,2909,23159,1,S,Si,11,3,3,80,0,8,3,3,26/09/2013,8,7,3,0
4,27,No,Viaja-Pocas-Veces,591,Investigacion & Desarrollo,2,1,Medicina,1.0,7,1,Masculino,40,3,1,Tecnico de laboratorio,2,Casado,3468,16632,9,S,No,12,3,4,80,1,6,3,3,2/03/2019,2,2,2,2

In [5]:
datos_csv.shape

(1492, 36)

In [9]:
datos_csv.dtypes

Edad                                        int64
Retirado                                   object
ViajesDeNegocio                            object
TarifaSalarial                              int64
Departamento                               object
DistanciaDesdeCasa                          int64
Educacion                                   int64
CampoEducacion                             object
EmpleadosACargo                           float64
NumeroEmpleado                              int64
NivelSatisfaccion                           int64
Genero                                     object
SalarioPorHora                              int64
NivelInvolucramiento                        int64
NivelResponsabilidad                        int64
Rol                                        object
SatisfaccionTrabajo                         int64
EstadoCivil                                object
SalarioMensual                              int64
TarifaMensual                               int64
NumEmpresasDondeTrabaja                     int64
MasDe18Horas                               object
HorasExtra                                 object
PorcentajeIncrementoSalarioUltimoAnnio      int64
NivelRendimiento                            int64
SatisfaccionEmpresa                         int64
HorasEstandar                               int64
PlanSalarioComplementario                   int64
TotalAnniosTrabajados                       int64
FormacionUltimoAnnio                        int64
BalanceTrabajoVida                          int64
FechaIngresoEmpresa                        object
AnniosEnEmpresa                             int64
AnniosRolActual                             int64
AnniosDesdeUltimaPromocion                  int64
AnniosActualDirector                        int64
dtype: object

In [11]:
datos_excel = pd.read_excel("empleadosTecnologiaAlpesMod3y4.xlsx", sheet_name="Departamentos")
datos_excel.head()

# cuando se llaman datos de excel con sheet_name se define el nombre de la hoja a seleccionar

   ID                Departamento
0   1  Investigacion & Desarrollo
1   2              Talento Humano
2   3                      Ventas

Cuando se desea leer un archivo de excel y queremos ser eficientes con el tiempo, podemos utilizar 
**pd.ExcelFile**
import pandas as pd

#Abrir el archivo Excel
excel_file = pd.ExcelFile('datos.xlsx')

#Leer una hoja específica del archivo Excel
df1 = excel_file.parse(sheet_name='Hoja1')

#Leer otra hoja del mismo archivo Excel
df2 = excel_file.parse(sheet_name='Hoja2')

In [20]:
datos_csv["FechaIngresoEmpresa"] = pd.to_datetime(datos_csv["FechaIngresoEmpresa"], format="YY-mm-dd")
datos_csv["FechaIngresoEmpresa"].dt.day

0       26
1       15
2        6
3       26
4        3
        ..
1487    14
1488     9
1489    28
1490    16
1491    28
Name: FechaIngresoEmpresa, Length: 1492, dtype: int64