In [1]:
import os
import pandas as pd
import json
pd.set_option('display.max_columns', None)  # Configura para mostrar todas las columnas

In [2]:
datos_csv = pd.read_csv("empleadosTecnologiaAlpes.csv", sep=";", encoding="latin-1")
datos_csv.head()

,Edad,Retirado,ViajesDeNegocio,TarifaSalarial,Departamento,DistanciaDesdeCasa,Educacion,CampoEducacion,EmpleadosACargo,NumeroEmpleado,NivelSatisfaccion,Genero,SalarioPorHora,NivelInvolucramiento,NivelResponsabilidad,Rol,SatisfaccionTrabajo,EstadoCivil,SalarioMensual,TarifaMensual,NumEmpresasDondeTrabaja,MasDe18Horas,HorasExtra,PorcentajeIncrementoSalarioUltimoAnnio,NivelRendimiento,SatisfaccionEmpresa,HorasEstandar,PlanSalarioComplementario,TotalAnniosTrabajados,FormacionUltimoAnnio,BalanceTrabajoVida,FechaIngresoEmpresa,AnniosEnEmpresa,AnniosRolActual,AnniosDesdeUltimaPromocion,AnniosActualDirector
0,41,Si,Viaja-Pocas-Veces,1102,Ventas,1,2,Ciencias de la vida,1.0,1,2,Femenino,94,3,2,Ejecutivo de ventas,4,Soltero,5993,19479,8,S,Si,11,3,1,80,0,8,0,1,26/07/2015,6,4,0,5
1,49,No,Viaja-Frecuentemente,279,Investigacion & Desarrollo,8,1,Ciencias de la vida,1.0,2,3,Masculino,61,2,2,Cientifico de investigacion,2,Casado,5130,24907,1,S,No,23,4,4,80,1,10,3,3,15/02/2011,10,7,1,7
2,37,Si,Viaja-Pocas-Veces,1373,Investigacion & Desarrollo,2,2,Otro,1.0,4,4,Masculino,92,2,1,Tecnico de laboratorio,3,Soltero,2090,2396,6,S,Si,15,3,2,80,0,7,3,3,2/06/2021,0,0,0,0
3,33,No,Viaja-Frecuentemente,1392,Investigacion & Desarrollo,3,4,Ciencias de la vida,1.0,5,4,Femenino,56,3,1,Cientifico de investigacion,3,Casado,2909,23159,1,S,Si,11,3,3,80,0,8,3,3,26/09/2013,8,7,3,0
4,27,No,Viaja-Pocas-Veces,591,Investigacion & Desarrollo,2,1,Medicina,1.0,7,1,Masculino,40,3,1,Tecnico de laboratorio,2,Casado,3468,16632,9,S,No,12,3,4,80,1,6,3,3,2/03/2019,2,2,2,2

In [3]:
datos_csv.shape

(1492, 36)

In [4]:
datos_csv.dtypes

Edad                                        int64
Retirado                                   object
ViajesDeNegocio                            object
TarifaSalarial                              int64
Departamento                               object
DistanciaDesdeCasa                          int64
Educacion                                   int64
CampoEducacion                             object
EmpleadosACargo                           float64
NumeroEmpleado                              int64
NivelSatisfaccion                           int64
Genero                                     object
SalarioPorHora                              int64
NivelInvolucramiento                        int64
NivelResponsabilidad                        int64
Rol                                        object
SatisfaccionTrabajo                         int64
EstadoCivil                                object
SalarioMensual                              int64
TarifaMensual                               int64
NumEmpresasDondeTrabaja                     int64
MasDe18Horas                               object
HorasExtra                                 object
PorcentajeIncrementoSalarioUltimoAnnio      int64
NivelRendimiento                            int64
SatisfaccionEmpresa                         int64
HorasEstandar                               int64
PlanSalarioComplementario                   int64
TotalAnniosTrabajados                       int64
FormacionUltimoAnnio                        int64
BalanceTrabajoVida                          int64
FechaIngresoEmpresa                        object
AnniosEnEmpresa                             int64
AnniosRolActual                             int64
AnniosDesdeUltimaPromocion                  int64
AnniosActualDirector                        int64
dtype: object

In [5]:
datos_excel = pd.read_excel("empleadosTecnologiaAlpesMod3y4.xlsx", sheet_name="Departamentos")
datos_excel.head()

# cuando se llaman datos de excel con sheet_name se define el nombre de la hoja a seleccionar

   ID                Departamento
0   1  Investigacion & Desarrollo
1   2              Talento Humano
2   3                      Ventas

Cuando se desea leer un archivo de excel y queremos ser eficientes con el tiempo, podemos utilizar 
**pd.ExcelFile**
import pandas as pd

#Abrir el archivo Excel
excel_file = pd.ExcelFile('datos.xlsx')

#Leer una hoja específica del archivo Excel
df1 = excel_file.parse(sheet_name='Hoja1')

#Leer otra hoja del mismo archivo Excel
df2 = excel_file.parse(sheet_name='Hoja2')

In [6]:
datos_csv["FechaIngresoEmpresa"] = pd.to_datetime(datos_csv["FechaIngresoEmpresa"], format="%d/%m/%Y")
datos_csv["FechaIngresoEmpresa"].dt.day

0       26
1       15
2        2
3       26
4        2
        ..
1487    14
1488     5
1489    28
1490    16
1491    28
Name: FechaIngresoEmpresa, Length: 1492, dtype: int64

In [7]:
# leer archivo json usando request

import requests

url = "https://d3c33hcgiwev3.cloudfront.net/y77IS9YOS-G-yEvWDuvhZg_db4d4ea50e4a4a22b765254b1d7827f1_ordenes_por_producto.json?Expires=1689638400&Signature=FdMCY1lpYH9oq0lmi4VJeE7i7k9BAGUAyKQNeLtjdn2XWnCZ4HbiWJzuyB4MQRUu5j9zq~LKUp30--K5DbPJpF9u7H~QRGCrioARVvBo6H~5I~iLtXO2lpK9mqOL~V29DiyjPH1EPqGGilhwWAY2MXxFKAB0BS1SshHuLwgQN2Y_&Key-Pair-Id=APKAJLTNE6QMUY6HBC5A"

# hacer solicitud GET para obtener el archivo json

response = requests.get(url)

# verificar como responde la solicitud

if response.status_code == 200:
    # si da 200 es que puede entrar
    datos = response.json()
    print(datos)
else:
    print("fallo la conexión, no se pudo generar archivo json")

In [8]:
#datos.keys()

In [9]:
# como ver una llave

#dict(list(datos["orden_id"].items())[0:5])

In [10]:
#datos_json = pd.DataFrame(datos)

In [11]:
#datos_json

## Perfilamiento de datos.

1) Verificar patrones. 
2) Diferencia entre los datos y la realidad de los mismos

In [12]:
datos_fecha = pd.read_csv("productos_por_fecha.csv", sep=";", encoding="latin-1")
datos_fecha.head()

,producto_id,fecha_envio_limite,nombre_categoria_producto,longitud_nombre_producto,longitud_descripcion_producto,cantidad_fotos_producto,longitud_cm_producto,altura_cm_producto,ancho_cm_producto
0,PT66,19/09/2017 07:24,Tarjetas regalo,6,34,18,50,9,12
1,PB76,22/01/2018 11:30,Ropa de adultos,10,39,0,26,24,23
2,PJ55,09/12/2017 15:09,Mascotas,25,12,3,51,2,28
3,PO85,04/05/2018 04:15,Productos ecoamigables,33,25,25,19,26,28
4,PG31,17/09/2017 23:24,Salud,34,22,11,39,19,40

In [13]:
datos_ordenes = pd.read_csv("ordenes_por_producto.csv", sep=";", encoding="latin-1")
datos_ordenes.head()

,orden_id,order_item_id,producto_id,vendedor_id,fecha_envio_limite,precio,valor_flete,codigo_postal_vendedor,ciudad_vendedor,departamento_vendedor,nombre_categoria_producto,longitud_nombre_producto,longitud_descripcion_producto,cantidad_fotos_producto,peso_g_producto,longitud_cm_producto,altura_cm_producto,ancho_cm_producto
0,88176PT66A,A,PT66,VE3877,19/09/2017 07:24,226.31,2.86,11001,Bogota d.c.,Bogota d.c.,Tarjetas regalo,6,34,18,6291,50,9,12
1,61602PB76A,A,PB76,VE8568,22/01/2018 11:30,338.38,3.28,27001,Quibdo,Choco,Ropa de adultos,10,39,0,616,26,24,23
2,106573PJ55A,A,PJ55,VE4333,09/12/2017 15:09,155.29,11.48,70001,Sincelejo,Sucre,Mascotas,25,12,3,2431,51,2,28
3,15563PO85A,A,PO85,VE7960,04/05/2018 04:15,137.82,25.39,85001,Yopal,Casanare,Productos ecoamigables,33,25,25,2061,19,26,28
4,11468PG31A,A,PG31,VE1019,17/09/2017 23:24,141.90,22.94,52480,Nariño,Nariño,Salud,34,22,11,2639,39,19,40

In [14]:
datos_ordenes.shape

(10000, 18)

In [15]:
datos_ordenes["orden_id"].isnull().sum()

0

In [16]:
datos_ordenes["orden_id"].duplicated().sum() # se observan los duplicados par ala columna orden id

4

In [17]:
datos_ordenes[datos_ordenes.duplicated("orden_id")].head()

,orden_id,order_item_id,producto_id,vendedor_id,fecha_envio_limite,precio,valor_flete,codigo_postal_vendedor,ciudad_vendedor,departamento_vendedor,nombre_categoria_producto,longitud_nombre_producto,longitud_descripcion_producto,cantidad_fotos_producto,peso_g_producto,longitud_cm_producto,altura_cm_producto,ancho_cm_producto
2094,107500PO59A,A,PO59,VE5389,07/04/2018 18:12,271.86,30.72,52480,Nariño,Nariño,Productos ecoamigables,6,7,27,2486,17,11,14
5614,107500PO59A,A,PR12,VE5090,07/01/2018 11:50,51.50,11.10,70001,Sincelejo,Sucre,Frutas y verduras,23,16,35,884,45,26,18
6669,107500PO59A,A,PA10,VE3159,23/09/2017 23:27,108.38,35.39,54003,Abrego,Norte de santander,Electrodomésticos,10,1,6,734,46,48,22
9398,107500PO59A,B,PK20,VE9159,17/08/2017 08:15,432.99,82.70,52506,Ospina,Nariño,Deportes,25,5,4,5270,9,27,29

In [18]:
# como vemos hay elementos que si bien la orden_id esta duplicada hay otros elementos que no se duplican, por lo cual
# debemos corroborar con el dataframe completo

datos_ordenes[datos_ordenes.duplicated()].count()

orden_id                         0
order_item_id                    0
producto_id                      0
vendedor_id                      0
fecha_envio_limite               0
precio                           0
valor_flete                      0
codigo_postal_vendedor           0
ciudad_vendedor                  0
departamento_vendedor            0
nombre_categoria_producto        0
longitud_nombre_producto         0
longitud_descripcion_producto    0
cantidad_fotos_producto          0
peso_g_producto                  0
longitud_cm_producto             0
altura_cm_producto               0
ancho_cm_producto                0
dtype: int64

In [19]:
datos_ordenes["order_item_id"].duplicated().sum()

9986

In [20]:
datos_ordenes["precio"].min()

0.01

In [21]:
datos_ordenes["precio"].max()

1262.94

Caso de extensión
Con el archivo de productos_por_fecha en el cual se encuentran los productos que se han vendido por fecha, además de realizar los siguientes puntos para el archivo dado, contempla cuál sería el problema para el negocio con los problemas identificados

* Revisa cuántos registros y atributos tiene la fuente de datos.
* Revisa el identificador único de la fuente de datos.
* Valida cuántos datos están duplicados en la fuente de datos.
* Revisa qué tipos de datos trae la fuente de datos.
* Identifica el dominio para los atributos de volumen, altura, anchura y largo del producto.
* Identifica el patrón de la fecha que se presenta en el archivo.
* Encuentra los valores vacíos. Con el uso de estadística muestra dónde existen posibles errores en los datos.
* Identifica qué problemas se presentan con el volumen de los productos.
* Encuentra los valores de las categorías para el nombre_categoria_producto.
* Genera un reporte de perfilamiento de datos.

In [25]:
datos = pd.read_csv("productos_por_fecha.csv", sep=";" ,encoding="latin-1")
datos

,producto_id,fecha_envio_limite,nombre_categoria_producto,longitud_nombre_producto,longitud_descripcion_producto,cantidad_fotos_producto,longitud_cm_producto,altura_cm_producto,ancho_cm_producto
0,PT66,19/09/2017 07:24,Tarjetas regalo,6,34,18,50,9,12
1,PB76,22/01/2018 11:30,Ropa de adultos,10,39,0,26,24,23
2,PJ55,09/12/2017 15:09,Mascotas,25,12,3,51,2,28
3,PO85,04/05/2018 04:15,Productos ecoamigables,33,25,25,19,26,28
4,PG31,17/09/2017 23:24,Salud,34,22,11,39,19,40
...,...,...,...,...,...,...,...,...,...
995,PF22,24/02/2018 02:58,Muebles,37,5,4,14,6,27
996,PI26,10/02/2018 22:42,Juguetes,30,3,26,40,30,22
997,PI28,07/08/2017 03:24,Juguetes,35,37,11,17,17,10
998,PS62,19/12/2017 00:54,Carnicería,21,39,36,47,27,12
999,PC65,08/04/2018 18:38,Ropa infantil,30,14,24,43,16,29

In [26]:
datos.shape

(1000, 9)

In [27]:
# revisando el clasificador unico

datos["producto_id"].duplicated().sum()

248

In [30]:
# de maenra previa vemos que en el identificador hay datos repetidos, pero hay que confirmar cuantos datos existen
# repetidos dentro del registro completdao

datos[datos.duplicated()].count()

producto_id                      0
fecha_envio_limite               0
nombre_categoria_producto        0
longitud_nombre_producto         0
longitud_descripcion_producto    0
cantidad_fotos_producto          0
longitud_cm_producto             0
altura_cm_producto               0
ancho_cm_producto                0
dtype: int64

Se observa que si bien hay un identificador con productos duplicados, esto no quiere decir que todos sean duplicados en las columnas, vamos a verificar esto.

In [31]:
datos[datos["producto_id"].duplicated()]

,producto_id,fecha_envio_limite,nombre_categoria_producto,longitud_nombre_producto,longitud_descripcion_producto,cantidad_fotos_producto,longitud_cm_producto,altura_cm_producto,ancho_cm_producto
71,PI33,27/05/2018 14:06,Juguetes,29,38,40,15,14,16
109,PT66,28/05/2018 04:57,Tarjetas regalo,18,10,12,18,1,15
118,PR58,24/03/2018 22:25,Frutas y verduras,33,0,28,24,9,47
124,PI33,14/08/2017 23:23,Juguetes,4,22,24,51,30,32
134,PO44,16/06/2018 00:26,Productos ecoamigables,33,23,12,22,18,22
...,...,...,...,...,...,...,...,...,...
989,PP19,25/10/2017 17:07,Licor,7,12,32,38,6,19
990,PF97,30/04/2018 07:27,Muebles,13,38,35,2,28,15
992,PH32,22/11/2017 04:25,Bebés,21,40,9,30,21,40
996,PI26,10/02/2018 22:42,Juguetes,30,3,26,40,30,22
999,PC65,08/04/2018 18:38,Ropa infantil,30,14,24,43,16,29

In [34]:
datos.isna().sum()

producto_id                      0
fecha_envio_limite               0
nombre_categoria_producto        0
longitud_nombre_producto         0
longitud_descripcion_producto    0
cantidad_fotos_producto          0
longitud_cm_producto             0
altura_cm_producto               0
ancho_cm_producto                0
dtype: int64

In [35]:
datos.dtypes

producto_id                      object
fecha_envio_limite               object
nombre_categoria_producto        object
longitud_nombre_producto          int64
longitud_descripcion_producto     int64
cantidad_fotos_producto           int64
longitud_cm_producto              int64
altura_cm_producto                int64
ancho_cm_producto                 int64
dtype: object

In [36]:
# verificando medidas de volumen

datos["volumen_m3"] = datos["longitud_cm_producto"] * datos["altura_cm_producto"] * datos["ancho_cm_producto"]
datos.head(4)

,producto_id,fecha_envio_limite,nombre_categoria_producto,longitud_nombre_producto,longitud_descripcion_producto,cantidad_fotos_producto,longitud_cm_producto,altura_cm_producto,ancho_cm_producto,volumen_m3
0,PT66,19/09/2017 07:24,Tarjetas regalo,6,34,18,50,9,12,5400
1,PB76,22/01/2018 11:30,Ropa de adultos,10,39,0,26,24,23,14352
2,PJ55,09/12/2017 15:09,Mascotas,25,12,3,51,2,28,2856
3,PO85,04/05/2018 04:15,Productos ecoamigables,33,25,25,19,26,28,13832

In [37]:
datos_medidas = datos.loc[:,["longitud_cm_producto","altura_cm_producto","ancho_cm_producto","volumen_m3"]]

In [39]:
datos_medidas[datos_medidas.volumen_m3 <= 0]

     longitud_cm_producto  altura_cm_producto  ancho_cm_producto  volumen_m3
75                     52                   0                  9           0
81                     32                   0                 23           0
130                    74                  14                  0           0
136                     0                  30                 26           0
249                     0                  17                 50           0
254                    21                   0                 20           0
259                     0                  10                 25           0
279                    48                   0                  7           0
338                    22                   0                 21           0
396                    10                   0                  1           0
431                    24                   0                 46           0
493                    24                   0                  9           0
497                    50                   0                 26           0
513                    17                   0                  9           0
541                    37                   0                 20           0
680                    20                   0                 15           0
685                     0                  16                 33           0
734                     0                  20                 50           0
754                    41                   0                 27           0
810                    32                  29                  0           0
811                    59                   2                  0           0
812                     6                   2                  0           0
849                     0                  51                 14           0
888                    25                   0                 32           0
896                    19                   0                 19           0
914                     0                   9                 27           0
978                    35                   0                 19           0

In [55]:
a = datos_medidas[datos_medidas.volumen_m3 <= 0]["volumen_m3"].count()
a

27

En la verificación de los datos se observa que hay un volumen de 0 lo cual puede ser un error, porque las medidas deben tener siempre alguna medida especifica, asi sea un sobre.

In [59]:
datos.fecha_envio_limite.value_counts()

30/09/2017 10:32    2
19/09/2017 07:24    1
21/08/2017 22:02    1
05/10/2017 22:13    1
25/09/2017 19:36    1
                   ..
28/01/2018 08:41    1
25/04/2018 16:28    1
16/02/2018 19:45    1
14/01/2018 06:52    1
08/04/2018 18:38    1
Name: fecha_envio_limite, Length: 999, dtype: int64

In [65]:
datos["fecha"] = pd.to_datetime(datos["fecha_envio_limite"])
datos["fecha"].head()

0   2017-09-19 07:24:00
1   2018-01-22 11:30:00
2   2017-09-12 15:09:00
3   2018-04-05 04:15:00
4   2017-09-17 23:24:00
Name: fecha, dtype: datetime64[ns]

In [70]:
datos.fecha.dt.month.value_counts()

1     95
8     93
4     90
7     89
9     87
5     86
2     85
11    83
12    80
10    76
6     69
3     67
Name: fecha, dtype: int64

In [74]:
datos["nombre_categoria_producto"].unique()

array(['Tarjetas regalo', 'Ropa de adultos', 'Mascotas',
       'Productos ecoamigables', 'Salud', 'Ropa infantil', 'Deportes',
       'Dormitorio', 'Celulares', 'Ferretería', 'Libros', 'Tecnología',
       'Bebés\xa0', 'Licor', 'Electrodomésticos', 'Juguetes', 'Lácteos',
       'Frutas y verduras', 'Muebles', 'Carnicería'], dtype=object)

Existe categoría de ropa infantil y de bebés pero es raro esa categoría bebés, no sé si hay un error ahi.

In [83]:
datos[datos["nombre_categoria_producto"]=="Bebés\xa0"]

,producto_id,fecha_envio_limite,nombre_categoria_producto,longitud_nombre_producto,longitud_descripcion_producto,cantidad_fotos_producto,longitud_cm_producto,altura_cm_producto,ancho_cm_producto,volumen_m3,fecha
13,PH88,05/11/2017 21:43,Bebés,10,36,17,3,15,10,450,2017-05-11 21:43:00
36,PH66,07/01/2018 06:51,Bebés,25,13,17,31,14,22,9548,2018-07-01 06:51:00
55,PH36,14/12/2017 17:47,Bebés,29,34,9,14,6,17,1428,2017-12-14 17:47:00
94,PH82,08/12/2017 14:35,Bebés,6,3,12,20,30,23,13800,2017-08-12 14:35:00
111,PH17,30/11/2017 10:11,Bebés,4,34,2,20,27,34,18360,2017-11-30 10:11:00
165,PH70,01/02/2018 11:28,Bebés,9,5,0,13,17,16,3536,2018-01-02 11:28:00
195,PH72,29/11/2017 14:29,Bebés,0,25,6,37,27,32,31968,2017-11-29 14:29:00
202,PH34,31/07/2017 01:31,Bebés,14,25,30,6,1,22,132,2017-07-31 01:31:00
212,PH69,12/09/2017 01:33,Bebés,34,3,34,41,25,5,5125,2017-12-09 01:33:00
241,PH95,30/05/2018 15:03,Bebés,27,19,16,54,10,12,6480,2018-05-30 15:03:00
346,PH77,08/06/2018 03:44,Bebés,22,22,27,68,10,30,20400,2018-08-06 03:44:00
378,PH20,01/05/2018 14:17,Bebés,17,25,31,26,9,32,7488,2018-01-05 14:17:00
384,PH98,01/06/2018 22:41,Bebés,7,22,35,43,12,23,11868,2018-01-06 22:41:00
412,PH19,29/01/2018 11:42,Bebés,30,13,26,18,61,15,16470,2018-01-29 11:42:00
419,PH50,22/01/2018 11:59,Bebés,26,4,23,17,19,37,11951,2018-01-22 11:59:00
428,PH57,10/12/2017 06:59,Bebés,2,2,11,39,25,41,39975,2017-10-12 06:59:00
448,PH81,13/09/2017 00:21,Bebés,1,28,2,37,20,29,21460,2017-09-13 00:21:00
450,PH43,09/12/2017 17:18,Bebés,31,26,18,37,2,28,2072,2017-09-12 17:18:00
504,PH88,07/09/2017 01:16,Bebés,25,11,38,39,9,32,11232,2017-07-09 01:16:00
568,PH12,15/08/2017 17:35,Bebés,2,17,34,33,36,25,29700,2017-08-15 17:35:00
587,PH32,05/12/2017 17:38,Bebés,22,36,0,24,5,21,2520,2017-05-12 17:38:00
600,PH70,03/04/2018 11:53,Bebés,18,19,37,55,6,20,6600,2018-03-04 11:53:00
637,PH24,12/10/2017 02:26,Bebés,14,20,6,33,35,36,41580,2017-12-10 02:26:00
640,PH44,01/01/2018 06:44,Bebés,32,2,26,1,7,23,161,2018-01-01 06:44:00
678,PH62,01/11/2017 01:27,Bebés,31,17,8,29,10,26,7540,2017-01-11 01:27:00
684,PH31,07/09/2017 21:48,Bebés,23,17,40,48,8,11,4224,2017-07-09 21:48:00
689,PH18,29/04/2018 16:20,Bebés,24,35,29,16,34,24,13056,2018-04-29 16:20:00
730,PH23,17/02/2018 15:45,Bebés,6,16,34,35,6,38,7980,2018-02-17 15:45:00
737,PH17,15/01/2018 00:15,Bebés,8,28,36,32,18,30,17280,2018-01-15 00:15:00
739,PH74,14/06/2018 16:51,Bebés,34,28,14,33,4,15,1980,2018-06-14 16:51:00
740,PH69,25/04/2018 12:29,Bebés,34,22,36,40,39,27,42120,2018-04-25 12:29:00
773,PH75,24/04/2018 04:33,Bebés,6,21,8,17,3,17,867,2018-04-24 04:33:00
779,PH87,01/02/2018 10:11,Bebés,27,8,17,43,12,23,11868,2018-01-02 10:11:00
786,PH73,22/08/2017 23:38,Bebés,15,28,3,52,15,13,10140,2017-08-22 23:38:00
788,PH58,23/04/2018 08:06,Bebés,9,0,35,44,20,25,22000,2018-04-23 08:06:00
796,PH84,24/05/2018 23:58,Bebés,33,14,12,30,5,30,4500,2018-05-24 23:58:00
814,PH55,20/02/2018 22:42,Bebés,22,31,21,33,24,19,15048,2018-02-20 22:42:00
822,PH87,11/04/2018 09:03,Bebés,27,16,23,13,1,14,182,2018-11-04 09:03:00
824,PH93,21/10/2017 22:23,Bebés,11,39,12,31,33,16,16368,2017-10-21 22:23:00
836,PH78,10/11/2017 19:50,Bebés,37,20,24,26,2,24,1248,2017-10-11 19:50:00
853,PH62,17/07/2017 17:18,Bebés,11,4,12,36,11,19,7524,2017-07-17 17:18:00
882,PH75,11/03/2018 07:56,Bebés,5,5,34,24,29,12,8352,2018-11-03 07:56:00
890,PH83,12/04/2018 08:24,Bebés,5,12,15,36,17,11,6732,2018-12-04 08:24:00
909,PH28,07/09/2017 15:32,Bebés,6,4,4,32,31,20,19840,2017-07-09 15:32:00
913,PH52,09/02/2018 00:44,Bebés,7,19,12,49,16,17,13328,2018-09-02 00:44:00
922,PH12,21/08/2017 20:24,Bebés,11,37,38,24,10,34,8160,2017-08-21 20:24:00
928,PH90,07/01/2018 22:03,Bebés,24,28,7,45,31,37,51615,2018-07-01 22:03:00
960,PH57,01/08/2017 13:57,Bebés,32,39,1,19,19,39,14079,2017-01-08 13:57:00
974,PH43,10/01/2018 07:08,Bebés,29,20,27,22,39,41,35178,2018-10-01 07:08:00
992,PH32,22/11/2017 04:25,Bebés,21,40,9,30,21,40,25200,2017-11-22 04:25:00